.admin-cards-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .admin-card {
    background-color: #f6f3ff;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 12px;
    min-width: 220px;
  }
  
  .admin-card-icon {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .admin-card-label {
    font-size: 13px;
    color: #333;
    margin: 0;
  }
  
  .admin-card-value {
    font-size: 16px;
    font-weight: 600;
    margin: 2px 0 0 0;
  }
.book-card-admi{  background-color: rgba(248, 248, 248, 1);
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  height: 390px; width: 650px;
  overflow-y: auto; 

  /* Estilo para el scroll */
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: hsl(246, 12%, 68%) transparent; /* Para Firefox */}
  #top{margin-top: 40px;} 
  #autor-admi{display: flex; flex-direction: column; gap: 7px; }
  .book-cover-horizontal2{width: 46px; height: 75px; margin-top: -10px;   box-shadow: -1px 5px 19px rgba(0, 0, 0, 0.508);
  }
  .book-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(151, 119, 255, 0.25);  transition: transform 0.5s ease, box-shadow 0.4s ease;

  }