.admin-sidebar {
    width: 180px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eee;
    font-family: 'Inter', sans-serif;
  }
  
  .admin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 5px;
    border-bottom: 1px solid #eee;
  }
  
  .admin-logo img {
    width: 109px;
  }
  
  .admin-nav {
    list-style: none;
    padding: 0;
    margin-top: 13px;
  }
  
  .admin-link {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    color: #444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    margin: 5px 10px;
    transition: background-color 0.2s ease;
  }
  
  .admin-link:hover {
    background-color: #f3f0ff;
    color: #5f3dc4;
  }
  
  .admin-link.active {
    background-color: #f3f0ff;
    color: #5f3dc4;
  }
  
  .admin-user {
    display: flex;
    align-items: center;
    background-color: #d7cdff;
    padding: 1px 7px;
    margin: 8px; margin-top: 450px; height: 70px;
    border-radius: 8px;
    gap: 10px;
  }
  
  .admin-user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .admin-user-info {
    display: flex;
    flex-direction: column;
  }
  
  .admin-user-info strong {
    font-size: 11px;
    color: #222;
  }
  
  .admin-user-info span {
    font-size: 12px;
    color: #555;
  }
  .admin-link-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
/* ........flex del contenido y sidebar....... */
.admin-dashboard-layout {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .admin-dashboard-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  