.dashboard-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-main {
    display: flex;
    flex: 1;
  }
  
  .dashboard-sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-content { margin-left: 5% ; margin-top: 1%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  