.upload-container {
  display: flex;
  align-items: flex-start;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  width: 253px;
  height: 160px;
  margin-left: 4.7%;
  margin-top: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  gap: 10px;
}

.upload-preview {
  width: 90px;
  height: 130px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}


.upload-preview--circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.upload-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.upload-image--circle {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


.upload-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 6px 0;
  color: #1f1f1f;
}

.upload-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.upload-button {
  cursor: pointer;
  padding: 8px 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  color: #333;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: background 0.2s ease;
  white-space: nowrap;
}

.upload-button:hover {
  background-color: #f0f0f0;
}
.content-editor {
  display: flex;
}


